{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem corrupti ab suscipit a tempora, quod esse earum ducimus eius repellat beatae quidem! Doloremque, atque. Qui.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ex amet labore natus, officia totam recusandae id eaque, perferendis sequi optio veritatis ad ratione iure.</p>
</div>

{% endblock content %}